<!-- mailing_statistics.html -->
{% extends 'mailings/base.html' %}

{% block title %}Статистика рассылок{% endblock %}

{% block content %}
<h2>Статистика рассылок</h2>
<ul class="list-group my-5">
        <li class="list-group-item">
          <p>Рассылка: {{ mailing.message.subject }}</p>
          <p>Статус: {{ mailing.status }}</p>
          <h3>Попытки отправки:</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Время</th>
            <th>Статус</th>
            <th>Ответ сервера</th>
        </tr>
    </thead>
    <tbody>
        {% for attempt in mailing.mailingattempt_set.all %}
        <tr>
            <td>{{ attempt.attempt_time|date:"D d M Y H:i:s" }}</td>
            <td>{{ attempt.status }}</td>
            <td>{{ attempt.server_response }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        </li>
</ul>
{% endblock %}